<div class="box fixed inset-x-0 top-0 z-10 flex h-[65px] rounded-none border-x-0 border-t-0">
    <div class="side-menu__content bg-white flex-none flex items-center z-10 px-5 h-full xl:w-[275px] overflow-hidden relative duration-300 group-[.side-menu--collapsed]:xl:w-[91px] group-[.side-menu--collapsed.side-menu--on-hover]:xl:w-[275px] group-[.side-menu--collapsed.side-menu--on-hover]:xl:shadow-[6px_0_12px_-4px_#0000001f] before:content-[''] before:hidden before:xl:block before:absolute before:right-0 before:border-r before:border-dashed before:border-slate-300/70 before:h-4/6 before:group-[.side-menu--collapsed.side-menu--on-hover]:xl:border-solid before:group-[.side-menu--collapsed.side-menu--on-hover]:xl:h-full">
        <a class="items-center transition-[margin] xl:flex group-[.side-menu--collapsed.side-menu--on-hover]:xl:ml-0 group-[.side-menu--collapsed]:xl:ml-2" href="">
            <img src="{{ theme_settings.sidebar_logo  or "/assets/mu_theme/images/small_icon.ico" }}" alt="" style="width: 40px;">
            <div class="ml-3.5 font-medium transition-opacity group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100 group-[.side-menu--collapsed]:xl:opacity-0">
                {{ theme_settings.sidebar_text or frappe.db.get_default("Company") or "MUBTKIR"}}
            </div>
        </a>
        <a class="toggle-compact-menu ml-auto h-[20px] w-[20px] items-center justify-center rounded-full border border-slate-600/40 transition-[opacity,transform] hover:bg-slate-600/5 group-[.side-menu--collapsed]:xl:rotate-180 group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100 group-[.side-menu--collapsed]:xl:opacity-0 3xl:flex" href="">
            <i data-tw-merge="" data-lucide="arrow-left" class="h-3.5 w-3.5 stroke-[1.3]"></i>
        </a>
        <div class="flex items-center gap-1 xl:hidden">
            <a class="p-2 rounded-full open-mobile-menu hover:bg-slate-100" href="">
                <i data-tw-merge="" data-lucide="align-justify" class="stroke-[1] h-[18px] w-[18px]"></i>
            </a>
            <a class="p-2 rounded-full hover:bg-slate-100 short-search-icon" data-tw-toggle="modal" data-tw-target="#quick-search" href="javascript:;">
                <i data-tw-merge="" data-lucide="search" class="stroke-[1] h-[18px] w-[18px]"></i>
            </a>
        </div>
    </div>

    <div class="absolute inset-x-0 h-full transition-[padding] duration-100 xl:pl-[275px] group-[.side-menu--collapsed]:xl:pl-[91px]">
        <div class="flex items-center w-full h-full px-5">
            <!-- BEGIN: Breadcrumb -->
            {% include "templates/includes/breadcrumb.html" ignore missing %}
            <!-- END: Breadcrumb -->

            <!-- BEGIN: Search -->
            {% include "templates/includes/searchbar.html" ignore missing %}
            <!-- END: Search -->
            
            <!-- BEGIN: Notification & User Menu -->
            {% include "templates/includes/user_manu.html" ignore missing %}
            <!-- END: Notification & User Menu -->
        </div>

    </div>
</div>
