<div class="viper before:content-[''] before:z-[-1] before:w-screen before:bg-slate-50 before:top-0 before:h-screen before:fixed">
    <div class="h-screen relative loading-page loading-page--before-hide [&.loading-page--before-hide]:before:block [&.loading-page--hide]:before:opacity-0 before:content-[''] before:transition-opacity before:duration-300 before:hidden before:inset-0 before:h-screen before:w-screen before:fixed before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 before:z-[60] [&.loading-page--before-hide]:after:block [&.loading-page--hide]:after:opacity-0 after:content-[''] after:transition-opacity after:duration-300 after:hidden after:h-16 after:w-16 after:animate-pulse after:fixed after:opacity-50 after:inset-0 after:m-auto after:bg-loading-puff after:bg-cover after:z-[61]">
        <div id="viper_nxt_sidebar" class="fixed top-0 left-0 z-50 h-screen side-menu group side-menu--collapsed">
            {% include "templates/includes/viper/nxt_sidebar.html" %}
            {% include "templates/includes/viper/nxt_navbar.html" %}
        </div>

        <div class="content transition-[margin,width] duration-100 xl:pl-3.5 pt-[65px] pb-16 relative z-10 content--compact xl:ml-[275px] [&.content--compact]:xl:ml-[91px] main-section">
            <div class="px-5 mt-5">
                <div id="body"></div>
                <footer></footer>
            </div>
        </div>
    </div>
</div>