:root {
	--primary: #060960;
    --bg-color: #f0f5f9;
    --accent-color: #040E60;
    --primary-color: #5EB182;
    --shortcut-bg-color: #f0f5f9;
    --number-bg-color: #e9ecef;
    --bg-color: transparent;
}
