<div class="fixed inset-x-0 top-0 mt-3.5 h-[65px] transition-[margin] duration-100 xl:ml-[275px] group-[.side-menu--collapsed]:xl:ml-[90px]">
    <div class="top-bar absolute left-0 xl:left-3.5 right-0 h-full mx-5 group before:content-[''] before:absolute before:top-0 before:inset-x-0 before:-mt-[15px] before:h-[20px] before:backdrop-blur">
        <div class="box group-[.top-bar--active]:box container flex h-full w-full items-center border-transparent bg-transparent shadow-none transition-[padding,background-color,border-color] duration-300 ease-in-out group-[.top-bar--active]:border-transparent group-[.top-bar--active]:bg-transparent group-[.top-bar--active]:bg-gradient-to-r group-[.top-bar--active]:from-theme-1 group-[.top-bar--active]:to-theme-2 group-[.top-bar--active]:px-5">
            <div class="flex items-center gap-1 xl:hidden">
                <a class="p-2 text-white rounded-full open-mobile-menu hover:bg-white/5" href="">
                    <i data-tw-merge="" data-lucide="align-justify" class="stroke-[1] h-[18px] w-[18px]"></i>
                </a>
                <a class="p-2 text-white rounded-full hover:bg-white/5" data-tw-toggle="modal" data-tw-target="#quick-search" href="javascript:;">
                    <i data-tw-merge="" data-lucide="search" class="stroke-[1] h-[18px] w-[18px]"></i>
                </a>
            </div>
            <!-- BEGIN: Breadcrumb -->
            {% include "templates/includes/breadcrumb.html" ignore missing %}
            <!-- END: Breadcrumb -->

            <!-- BEGIN: Search -->
            {% include "templates/includes/searchbar.html" ignore missing %}
            <!-- END: Search -->

            <!-- BEGIN: Notification & User Menu -->
            {% include "templates/includes/user_manu.html" ignore missing %}
            <!-- END: Notification & User Menu -->
        </div>
    </div>
</div>