<!-- زر إغلاق قائمة الجوال -->
<div
  class="close-mobile-menu fixed ml-[275px] w-10 h-10 items-center justify-center sm:hidden z-50
         [&.close-mobile-menu--mobile-menu-open]:flex"
>
  <!-- رابط الإغلاق -->
  <a class="mt-5 ml-5" href="">
    <!-- أيقونة X -->
    <i data-lucide="x" class="stroke-[1] w-8 h-8 text-white"></i>
  </a>
</div>

<!-- الحاوية الرئيسية للسايدبار -->
<div
  class="side-menu__content h-full box border-transparent rounded-none xl:rounded-xl
         bg-gradient-to-b from-theme-1 to-theme-2 z-20 relative w-[275px]
         duration-300 transition-[width]
         group-[.side-menu--collapsed]:xl:w-[91px]
         group-[.side-menu--collapsed.side-menu--on-hover]:xl:shadow-[6px_0_12px_-4px_#0000000f]
         group-[.side-menu--collapsed.side-menu--on-hover]:xl:w-[275px]
         overflow-hidden flex flex-col
         after:content-[`]
         after:absolute after:inset-0 after:-mr-4
         after:bg-texture-white after:bg-contain after:bg-fixed
         after:bg-[center_-20rem] after:bg-no-repeat"
>

  <!-- هيدر السايدبار (الشعار + اسم الشركة + زر التصغير) -->
  <div
    class="flex-none xl:flex items-center z-10 px-2 h-[65px] xl:w-[275px]
           overflow-hidden relative duration-300
           group-[.side-menu--collapsed]:xl:w-[91px]
           group-[.side-menu--collapsed.side-menu--on-hover]:xl:w-[275px]
           before:content-[`]
           before:absolute before:right-0
           before:border-r before:border-dashed
           before:border-white/[0.15]
           before:h-4/6
           before:group-[.side-menu--collapsed.side-menu--on-hover]:xl:hidden"
  >

    <!-- الشعار + اسم الشركة -->
    <a
      class="flex items-center transition-[margin] duration-300
             group-[.side-menu--collapsed.side-menu--on-hover]:xl:ml-0
             group-[.side-menu--collapsed]:xl:ml-4 branding"
      href=""
    >

      <!-- شعار الشركة -->
      <img
        src="{{ theme_settings.sidebar_logo or '/assets/mu_theme/images/small_icon.ico' }}"
        alt=""
        style="width: 40px; margin-right: 16px !important; margin-left: 1.0rem;"
      >

      <!-- اسم الشركة (يختفي عند تصغير القائمة) -->
      <div
        class="ml-3.5 font-medium text-white transition-opacity
               group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100
               group-[.side-menu--collapsed]:xl:opacity-0"
      >
        {{ theme_settings.sidebar_text
           or frappe.db.get_default("Company")
           or "MUBTKIR"
        }}
      </div>
    </a>

    <!-- زر تصغير / تكبير السايدبار -->
    <a
      class="toggle-compact-menu ml-auto h-[20px] w-[20px]
             items-center justify-center rounded-full
             border border-white/40 text-white
             transition-[opacity,transform]
             hover:bg-white/5
             group-[.side-menu--collapsed]:xl:rotate-180
             group-[.side-menu--collapsed.side-menu--on-hover]:xl:opacity-100
             group-[.side-menu--collapsed]:xl:opacity-0
             tw-hidden xl:flex"
      href=""
    >
      <!-- أيقونة السهم -->
      <i data-lucide="arrow-left" class="h-3.5 w-3.5 stroke-[1.3]"></i>
    </a>

  </div>

  <!-- محتوى القائمة (العناصر + السكرول) -->
  <div
    class="scrollable-ref w-full h-full z-20 px-5
           overflow-y-auto overflow-x-hidden pb-3
           [-webkit-mask-image:-webkit-linear-gradient(top,rgba(0,0,0,0),black_30px)]
           [&:-webkit-scrollbar]:w-0
           [&:-webkit-scrollbar]:bg-transparent
           [&_.simplebar-content]:p-0
           [&_.simplebar-track.simplebar-vertical]:w-[10px]
           [&_.simplebar-track.simplebar-vertical]:mr-0.5
           [&_.simplebar-track.simplebar-vertical_.simplebar-scrollbar]:before:bg-slate-400/30"
  >
    <!-- تضمين عناصر القائمة من ملف خارجي -->
    {% include "templates/includes/sidebar_menu.html" %}
  </div>

</div>
