
.btn {
	svg {
		width: 15px;
		height: 15px;
	}
}


.btn-default, .btn-secondary {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
	letter-spacing: inherit;
	border-width: 1px;
	border-style: dashed;
	border-color: rgb(203 213 225 / 1);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background-color: #fff !important;
}

.btn-secondary {
	background-color: rgb(var(--color-secondary) / .7) !important;
	border-style: solid;

    &.btn-xs {
        border-radius: 6px;
    }
}


.btn-primary {
	letter-spacing: inherit;
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-bg-opacity: 1;
	background-color: var(--primary) !important;
	border-radius: 0.375rem !important;
}

.page-head {
	.icon-btn {
		padding: 1rem .75rem 1rem .75rem !important;
	}
	
    .btn-primary {
		padding: 1rem 0.75rem 1rem 0.75rem !important;
	}

    .btn-default,
    .btn-secondary {
        padding: 1rem 1.5rem 1rem 1.5rem !important;
        border-radius: .375rem !important;
    }
}

.filter-chart {
	&.btn-xs {
		--tw-bg-opacity: 1;
		background-color: rgb(var(--color-primary) / var(--tw-bg-opacity)) !important;
		--tw-border-opacity: 1;
		border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
		border-radius: .375rem;
		padding: .5rem !important;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		svg {
			--icon-stroke: #fff;
		}
	}
}

.chart-menu {
	border-style: none;
	padding: .5rem !important;
}


.scroll-to-top {
    position: sticky !important;
    bottom: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px !important;
    border-style: solid !important;
    background-color: var(--primary) !important;
    margin-left: 102%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    
    --icon-stroke: #fff;
}
